.App {
    min-height: 100%;
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-top.svg"),
        url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: right calc(50vw + 15%) bottom calc(50vh - 10vw),
        left calc(40vw + 25%) top calc(70vh - 10vw);
}
